		<%- js('js/geopattern') %>
		<%- js('js/highlight.pack') %>
		<%- js('lib/fancybox/jquery.fancybox-1.3.4.pack') %>

		<%if(page.toc){%>
			<%- js('js/toc') %>
		<%}%>

		<%- js('js/index') %>

		<% if (theme.github.username && theme.github.popular_repos) { %> <%- js('js/popular_repo') %> <% } %>

	</body>
</html>