  <article id="<%= post.layout %>-<%= post.slug %>" class="repo-list">
    <div class="repo-list-item" >
      <h3 class="repo-list-name" itemprop="name">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </h3>
      <div class="repo-list-description article-entry">
        <% if (post.excerpt && index){ %>
          <%- post.excerpt %>
        <% } else { %>
          <%- post.content %>
        <% } %>
      </div>
      <p class="repo-list-meta">
        <span class="meta-info">
          <span class="octicon octicon-calendar"></span>
           <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
        </span>

        <!--
          <% if (post.tags && post.tags.length){ %>
            <%- list_tags(post.tags, {
            show_count: false,
            class: 'article-tag'
            }) %>
          <% } %>
        -->

        
        <% if (theme.excerpt_link){ %>
            <span class="article-more-link">
              <a href="<%- url_for(post.path) %>#more" class="btn btn-sm btn-outline"><%= theme.excerpt_link %></a>
           </span>
        <% } %>
      </p>
    </div>
  </article>