<header class="site-header navfixed-false">
  <div class="container">
      <h1><a href="<%- url_for() %>" title="<%= config.title %>"><span class="octicon octicon-mark-github"></span> <%= config.title %></a></h1>
      <nav class="site-header-nav" role="navigation">
        <% for (var nav in theme.menus) { %>
              <%
                var title = theme.menus[nav].name;
                var href = theme.menus[nav].link;
                var link = "^" + href;  
                var target = theme.menus[nav].target;
              %>
              <a href="<%- url_for(href) %>" <%if(target){%>target="<%=target%>"<%}%> class="<% if (page && page.path.match(link)) { %> selected <% } %> site-header-nav-item hvr-underline-from-center" title="<%= title %>"><%= title %></a>
        <% } %>
      </nav>
  </div>
</header>
